<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YHGifView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>29E645FC1CB35B0700BAAF1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29E646151CB35B0700BAAF1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29E646201CB35B0700BAAF1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
